body {
  background-color: #f8f9fa;
  font-family: "Nunito", sans-serif;
  color: #343a40;
  margin: 0 0;
  padding: 0 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 75rem;
  margin: 0 auto;
}

.navbar {
  padding: 1rem;
  margin: 1.625rem 5.125rem;
}

.navbar .search-input {
  width: 80vw;
  max-width: 25.75rem;
  background-color: #f5f3ff;
  border: 2px solid #000000;
  border-radius: 2rem;
  padding: 0.625rem 1.3125rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.navbar .search-input::placeholder {
  color: #5041bc;
}

.table-container {
  margin: 2rem 3.125rem;
  max-height: 21rem;
  overflow-y: auto;
}

.course-entries {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  padding: 1.25rem;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
  margin: 2rem 4.125rem;
  margin-right: 2rem;
  flex-wrap: wrap;
}

.summary-card {
  padding: 1.5625em 1.5625em;
  border: 0.063rem solid #d3cbfb;
  border-radius: 12px;
  width: 16.25rem;
  height: 8.125em;
}

.summary-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #797d8c;
}

.summary-rating {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.rating-marker {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .navbar .search-input {
    width: 90vw;
    max-width: 20rem;
  }
  .navbar span {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .navbar .search-input {
    width: 95vw;
    max-width: 18rem;
    padding: 0.5rem 1rem;
  }
  .navbar span {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
